.box {
    width: 100px;
    height: 100px;
    background-color: green;
    /* animation: circleIn 2s ease; */
}

/* .box:hover {
    animation: circleIn 2s ease;
} */

/* @keyframes circleIn {
    0%, 100%{ border-radius: 0;}
    100%, 0% { border-radius: 100%; }
}

@keyframes circleOut {
    100% { border-radius: 0%;}
    0% { border-radius: 100%; }
} */